module.exports = {
    resourceSha: "0055a6959755b4ad88c4d185e850b284d7c555bc",
    serverKey: "8cfd11687a20d616f0b7dc0ceed00ce12f5f95e2e100c9ff561b0c4117e6e44d",
    commandsConsole: false,
    credentials: [{
        tag: '2PP',
        pass: ''
    },
    {
        name: 'abc',
        tag: '2PJ',
        pass: ''
    }]
}
